/__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.egg-info

.vscode/

env/
migrations/
example/djangoeditorwidgets
media/
example/static/

.DS_Store
.flake8

dist/
build/
Makefile


static_cdn/


tmp/

*.tmp
